<div class="p-4">
  <h4 class="pb-4 border-bottom">{{name}}</h4>
  <p class="">Price: <strong>${{price}}</strong></p>
  <p class="">Sold By: <strong>{{units}}</strong></p>
  <p class="">Total Inventory Quantity: <strong>{{total_quantity}}</strong></p>
  <p class="">Inventory Value: <strong>${{total_value}}</strong></p>
</div>