<div class="p-4">
  <p class="">Name: {{name}}</p>
  <p class="">Price: ${{price}}</p>
  <p class="">Sold By: {{units}}</p>
  <p class="">Total Inventory Quantity: {{total_quantity}}</p>
  <p class="">Inventory Value: ${{total_value}}</p>
</div>