<tr>
  <th scope="row">{{count index}}</th>
  <td>{{name}}</td>
  <td>${{price}}</td>
  <td>{{units}}</td>
  <td><a href="/dashboard/product/{{id}}" class="btn btn-primary">View Inventory</a></td>
</tr>