<div class="p-4">
  <h4 class="pb-4 border-bottom">{{name}}</h4>
  <p class="">Email: <strong>{{email}}</strong></p>
  <p class="">Tel: <strong>{{formatPhone phone}}</strong></p>
  <p class="">Address: <strong>{{address}}</strong></p>
  <p class="">City: <strong>{{city}}</strong></p>
  <p class="">State: <strong>{{state}}</strong></p>
  <p class="">Zip: <strong>{{zip}}</strong></p>
</div>