<section class="card">
  <a href="/product/{{id}}">
    <header>{{name}}</header>

    <div class="card-body">
      <img src="/images/{{filename}}" alt="{{description}}">
      <p>Price: {{price}}</p>
    </div>
  </a>
</section>
<tr>
  <th scope="row">{{count index}}</th>
  <td>{{name}}</td>
  <td>${{price}}</td>
  <td>{{units}}</td>
  <td><a href="/product/{{id}}" class="btn btn-primary">View Inventory</a></td>
</tr>