<section class="card h-100 product">
  <img
    src="/images/{{product.filename}}"
    class="card-img-top"
    alt="{{product.description}}"
  />
  <div class="card-body product-details">
    <h3 class="card-title">{{product.name}}</h3>
    <p class="card-text">Description: {{product.description}}</p>
    <p class="card-text">Price: {{product.price}}</p>
    {{! units is invoked by the user it's either a dropdown quantity or an input }}
    <p class="card-text">Units</p>
  </div>
</section>