<section class="card h-100 product">
  <div class="card-body product-details">
    <h3 class="card-title">{{supplier.name}}</h3>
    <p class="card-text">Email: {{supplier.email}}</p>
    <p class="card-text">Phone: {{supplier.phone}}</p>
    <p class="card-text">Address: {{supplier.address}}, {{supplier.city}}, {{supplier.state}} {{supplier.zip}}</p>
  </div>
</section>